<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre de la institucion</label>

                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu"
                        #input1 (keyup)="getValue1(input1.value)" required>
                </div>

                <div class="form-group">
                    <label for="descripcionEdu">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu"
                        [(ngModel)]="descripcionEdu" #input2 (keyup)="getValue2(input2.value)" required>
                </div>

                <div class="img">
                    <img class="img-load" src="{{imagen[0]}}" width="100px">
                </div>
                <div class="form-group">
                    <label for="imagenURL" class="labelFile"></label>
                    <input type="file" class="labelInputFile" accept=".bmp, .gif , .jpg, .tif, .png, .jpeg"
                        (change)="loadImage($event)" id="imagenURL">
                </div>

                <div class="send">
                    <button class="bttn-minimal bttn-md bttn-primary" [disabled]="loading" (click)="load()">
                        {{(loading)?'Añadiendo': 'Añadir Educación'}}</button>
                </div>
            </form>    

                <!--<button class="btn btn-danger">Agregar nueva-instruccion</button>-->
        </div>
    </div>

</div>













<!--<p>nueva-instrucion works!</p>-->